/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.vjs-theme-fantasy {
  --vjs-theme-fantasy--primary: #fff!important;
  --vjs-theme-fantasy--secondary: #fff;
}